* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
}

/*FIRST SECTION*/
.bandeau-bleu-fonce {
    background-color: #1E264A; 
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
    width: 100%;
    height: 49px;
    angle: 0 deg;
    opacity: 1;
    justify-content: space-between;
    angle: 0 deg;
    opacity: 1;
    gap: 10px;

}

.infos-heure{
    display: flex;
    align-items: center;
    margin-right: auto;
    color: #F1F1F1;
    font: Inter;
    padding-left: 50px;
    font-size: 14px;
    white-space: nowrap; 
    font-weight: 500;
    font-style: Medium;
    line-height: 100%;
    letter-spacing: 0%;


}


.infos-contact-haut {
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-size: 16px;
    width: 196px;
    height: 19px;
    padding-top: 25px;;
    gap: 10px;
    angle: 0 deg;
    opacity: 1;

}

.infos-contact-haut p {
    font-size: 16px;
    white-space: nowrap; 
}

.bouton-orange-top {
    background-color: #ffb800;
    color: #1c2b4b;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    text-decoration : none;
    width: 194px;
    height: 49px;
    gap: 10px;
    angle: 0 deg;
    opacity: 1;
    padding: 15px;
    font-size: 16px;

}

/*SECOND SECTION*/
.menu-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.logo h2 {
    color: #000000;
    font: Inter;
    width: 115px;
    height: 48px;
    angle: 0 deg;
    opacity: 1;
    font-size: 40px;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 0%;
}

.liens-du-menu a {
    text-decoration: none;
    color: #1c2b4b;
    margin-left: 20px;
    font: Inter;
    font-weight: bold;
    font-size: 16px;
    gap: 30px;
    width: 658px;
    height: 19px;
}

.liens-du-menu a:hover {
    color: #a32a3f; 
}

/*THIRD SECTION*/
.section-image-hero {
    background-color: white; 
    background-image: url('../images/image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 613px;
}

.voile-sombre {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.contenu-hero {
    color: white;
    width: 780px;
    height: 413px;
    gap: 30px;
    angle: 0 deg;
    opacity: 1;
}

.contenu-hero h1 {
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 55px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
    width: 100%;
    height: 201px;
    angle: 0 deg;
    opacity: 1;

}

.contenu-hero p {
    margin-bottom: 30px;
    line-height: 1.5;
    width: 100%;
    height: 102px;
    angle: 0 deg;
    opacity: 1;
    font: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 170%;
    letter-spacing: 0%;
}

.les-deux-boutons {
    display: flex;
    width: 300px;
    height: 50px;
    gap: 20px;
    angle: 0 deg;
    opacity: 1;
}

.btn-blanc, .btn-orange {
    font-weight: 700;
    font-style: bold;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.btn-blanc {
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
    gap: 20px;
    width: 134px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    color: #1c2b4b;
    text-decoration : none;
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}

.btn-orange {
    background-color: #ffb800;
    color:  #1c2b4b;
    text-decoration : none;
    width: 146px;   
    height: 50px;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
    gap: 10px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 5px;
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}

/* FOURTH SECTION */
.section-cartes-grise {
    background-color: white;
    padding: 60px 20px;
    text-align: center;
    gap: 50px;
    angle: 0 deg;
    opacity: 1;
    margin-left: 17px;
    margin-right: 17px;

}

.titre-centre {
    color: #1c2b4b;
    margin-bottom: 30px;
    angle: 0 deg;
    opacity: 1;
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 42px; 
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.sous-titre-centre {
    color: #666;
    margin-bottom: 0;
    font: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;
}

.boite-des-3-cartes {
    display: flex;
    justify-content: center; 
    margin-top: 50px; 
    height: 309px;
    gap: 30px;
    angle: 0 deg;
    opacity: 1;
}

.carte-blanche {
    background-color: #FAFAFA;
    padding: 30px 20px;
    border-radius: 30px;
    flex: 1; 
    width: 426.6666564941406px;
    height: 309px;
    min-height: 200px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    gap: 20px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 30px;
    border: 1px solid transparent;
}

.carte-blanche:hover{
    border-color: #B12A43;
}

.icone-image {
    width: 60;
    height: 60;
    angle: 0 deg;
    opacity: 1;
    margin-bottom: 20px;
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

.texte-bordeaux {
    color: #1E264A;
}

.carte-blanche h3 {
    font-size: 28px;
    margin-bottom: 15px;
    
} 

.carte-blanche p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    font: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;
}

.bouton-rouge-centre1 {
    background-color: #B12A43;
    color: white;
    display: inline-block;
    margin-top: 40px;
    cursor: pointer;
    text-decoration : none;
    width: 149px;
    height: 50px;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
    gap: 10px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 5px;
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}

.bouton-rouge-centre {
    background-color: #B12A43;
    color: white;
    display: inline-block;
    margin-top: 40px;
    cursor: pointer;
    text-decoration : none;
    width: 129px;
    height: 50px;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
    gap: 10px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 5px;
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}

/*FIFTH SECTION*/
.section-cremation-inhumation {
    padding-left:40px;
    padding-right: 40px;
    padding-bottom: 60px;
    background-color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.texte-intro-haut {
    max-width: 800px;
    margin: 0 auto 40px auto;
    color: #444;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    height: 54px;
}

.grise-deux-cartes {
    display: flex;
    gap: 30px;
    max-width: 100%;
    justify-content: center;
    width: 100%;
    height: 267px;
    gap: 50px;
    angle: 0 deg;
    opacity: 1;

}

.carte-horizontale {
    border: 1px solid #F1F1F1;
    background-color: white;  
    border-radius: 5px;
    display: flex;
    flex: 1;
    overflow: hidden;
    text-align: left;
    box-shadow: #0000001A;
}

.carte-horizontale:hover{
    border-color: #B12A43;
}

.image-carte {
    width: 45%;
    object-fit: cover;
}

.contenu-carte {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contenu-carte h3 {
    color: #1c2b4b;
    margin-bottom: 10px;
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}

.contenu-carte p {
    color: #555;
    line-height: 1.5;
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 170%;
    letter-spacing: 0%;
}

.centre-bouton {
    text-align: center;
}

/*SIXTH SECTION*/
.section-service-sur-mesure {
    width: 100%;
    background-color: #f8f8f8;
    margin-bottom: 60px;
    padding: 80px 50px;
    gap: 50px;
}

.conteneur-flex-2 {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    gap: 50px;
}

.colonne-image, .colonne-texte {
    flex: 1;
    min-width: 0;
}

.image-arrondie {
    flex: 1;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    max-width: 100%;
    max-height: 450px; 
    object-fit: cover;
}

.colonne-texte h2 {
    color: #1c2b4b;
    font-size: 42px;
    margin-bottom: 20px;
    line-height: 1.2;
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
}

.colonne-texte p {
    color: #444;
    font-size: 18px;
    line-height: 1.6;
    font: Inter;
    font-weight: 400;
    font-style: Regular;
    leading-trim: NONE;
    line-height: 170%;
    letter-spacing: 0%;
}

@media (max-width: 768px) {
    .grise-deux-cartes {
        flex-direction: column;
    }
    
    .conteneur-flex-2 {
        flex-direction: column;
        gap: 30px;
    }
}

/*SEVENTH SECTION*/

.section-engagement {
    background-image: url('../images/arbre.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px; 
    display: flex;
    align-items: center; 
}

.boite-blanche-engagement {
    background-color: white;
    border: 1px solid transparent;
    padding: 50px;
    max-width: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 601px;
    height: 601px;
    padding-top: 150px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    gap: 30px;
}

.boite-blanche-engagement:hover{
        border-color: #B12A43;
}

.boite-blanche-engagement h2 {
    color: #1c2b4b;
    margin-bottom: 20px;
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}

.boite-blanche-engagement p {
    color: #888;
    line-height: 1.6;
    margin-bottom: 30px;
    font: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 170%;
    letter-spacing: 0%;

}

.bouton-rouge-engagement {
    background-color: #a32a3f;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    display: inline-block;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    text-decoration : none;
}

/*EIGHTH SECTION*/
.section-avis {
    padding: 60px 5%; 
    background-color: #ffffff;
}

.conteneur-caroussel {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 50px; 
    margin-top: 50px; 
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.fleche {
    width: 64px; 
    height: 64px; 
    background-color: #f0f0f0; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    gap: 10px;
    border-radius: 32px;
    padding: 20px;

}

.fleche:hover {
    background-color: #1a1a3a; 
    transition: 3ms;
}

.fleche:hover img {
    filter: brightness(0) invert(1);
    transition: 0.3s; 
}

.carte-avis {
    background-color: #ffffff; 
    width: 100%;
    padding: 40px; 
    border-radius: 8px; 
    box-shadow: 1px 4px 34px 0px #0000001A;
    text-align: center; 
}

.etoiles {
    color: #a83232;
    font-size: 34px;
    margin-bottom: 20px; 
    
}

.texte-temoignage {
    color: #1E264A; 
    line-height: 1.6; 
    margin-bottom: 30px; 
    font: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;
}

.auteur-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
}

.cercle-avatar {
    width: 60px;
    height: 60px;
    background-color: #dcdcdc; 
    border-radius: 50%; 
    
}

.nom-auteur {
    font-weight: bold;
    color: black;
    text-align: left;
    font: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;

}

.sous-titre-auteur {
    font-size: 12px;
    color: #888888; 
    text-align: left;
    font: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;

}

.bouton-rouge-centre2 {
    background-color: #B12A43;
    color: white;
    display: inline-block;
    margin-top: 0;
    cursor: pointer;
    text-decoration : none;
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    width: 129px;
    height: 50px;
    padding-top: 17px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
    gap: 10px;
    border-radius: 5px;
}

/*NINETH SECTION*/
.section-rapatriement {
    width: 100%;
    height: 633px;
    padding: 0 50px;
    background-color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    
}

.titre-centre2 {
    color: #1c2b4b;
    margin-bottom: 50px;
    text-align: center;
    font-size: 42px;
}

.grille-rapatriement {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

.colonne-cartes {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px; 
    justify-content: space-between;
}

.carte-info {
    background-color: #FAFAFA;
    border: #FAFAFA solid 1px;
    transition: 0.3s;
    height: 252px;
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    border-radius: 30px;
    border-width: 1px;
    width: 100%;
    
}

.carte-info:hover {
    border-color: #B12A43;
}

.carte-info:hover .icone-card{
    filter: invert(24%) sepia(50%) saturate(2796%) hue-rotate(338deg) brightness(94%) contrast(92%);
}

.colonne-image-centrale {
    display: flex;
    justify-content: center;
    width: 420;
    height: 524;
    angle: 0 deg;
    opacity: 1;

}

.image-bougie {
    width: 100%;
    max-width: 420px;
    max-height: 524px;
    object-fit: cover;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.icone-card {
    width: 50px;
    height: 50px;
}

.carte-info h3 {
    color: black;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 8px;
}

.carte-info p {
    color: #666666;
    font-size: 16px;
    line-height: 1.5;
}


.center {
    text-align: center;
    margin-bottom: 60px;
}

/*TENTH SECTION*/
.section-contact {
    background-color: #1a2238;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 943px;
    margin-top: 150px;
    padding-top: 80px;
    padding-right: 50px;
    padding-bottom: 80px;
    padding-left: 50px;
    gap: 50px;
    angle: 0 deg;
    opacity: 1;

}

.contact-container {
    display: flex;
    gap: 0;
    max-width: 100%;
    width: 100%;
}

.contact-gauche {
    flex: 1;
    color: #ffffff;
    width: 645px;
    height: 587px;
    gap: 50px;
    angle: 0 deg;
    opacity: 1;

}

.titre-contact {
    line-height: 1.3;
    margin-bottom: 25px;
    width: 402px;
    height: 140px;
    font: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 50px;
    line-height: 140%;
    letter-spacing: 0%;

}

.texte-contact {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #d1d5db;
    max-width: 90%;
    width: 605px;
    height: 93px;
    font: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0%;


}

.bloc-info {
    background-color: #313a52;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    max-width: 100%;
    transition: 0.3s;
    width: 355px;
    height: 88px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
    gap: 25px;
    border-radius: 10px;
}

.bloc-info:hover {
    background-color: #3d4763;
}

.icone-info {
    width: 40px;
    height: 40px;
}

.texte-info {
    display: flex;
    flex-direction: column;
}

.titre-info {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.valeur-info {
    font-size: 18px;
    color: #d1d5db;
}

.reseaux-sociaux {
    display: flex;
    gap: 30px;
    margin-top: 35px;
}

.reseaux-sociaux a img {
    width: 38px;
    height: 38px;
    transition: transform 0.3s;
}

.reseaux-sociaux a:hover img {
    transform: translateY(-3px);
}

.contact-droite {
    flex: 1;
}

.carte-formulaire {
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 100%;
    height: 783px;
    padding-top: 70px;
    padding-right: 40px;
    padding-bottom: 70px;
    padding-left: 40px;
    gap: 50px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 30px;
}

.titre-formulaire {
    color: #1a2238;
    font-weight: bold;
    margin-bottom: 35px;
    font: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 42px;
    line-height: 140%;
    letter-spacing: 0%;
}

.form-ligne {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.form-groupe {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-groupe label {
    color: #374151;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.form-groupe input,
.form-groupe textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    background-color: #fbfbfb;
    transition: border-color 0.3s;
}

.form-groupe input:focus,
.form-groupe textarea:focus {
    border-color: #a83232;
}

.form-groupe textarea {
    resize: vertical;
    margin-bottom: 25px;
}

.btn-envoyer {
    background-color: #a83232;
    color: #ffffff;
    border: none;
    padding: 14px 28px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

@media (max-width: 960px) {
    .contact-container {
        flex-direction: column;
        gap: 50px;
    }
    
    .form-ligne {
        flex-direction: column;
        gap: 0;
    }
    
    .form-groupe {
        margin-bottom: 20px;
    }
    
    .bloc-info {
        max-width: 100%;
    }
}

/*11th SECTION*/
.section-faq, .section-aide {
    width: 100%;
    padding-top: 70px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #ffffff;
}

.texte-bleu-clair {
    color: #38bdf8;
}

.faq-conteneur {
    max-width: 100%;
    margin: 50px auto 0 auto;
}

.faq-item {
    border-bottom: 1px solid #f0f0f0;
    padding: 22px 0;
}

.faq-item:first-child {
    border-top: 1px solid #f0f0f0;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h4 {
    color: #111111;
    font-weight: 700;
    margin: 0;
    font: Inter;
    font-style: Bold;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}

.faq-question img {
    width: 30px;
    height: 30px;
}

.faq-reponse {
    display: none;
    margin-top: 18px;
    font: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
}

.faq-item.actif .faq-reponse {
    display: block;
}

.faq-reponse p {
    color: #888888;
    font-size: 13px;
    line-height: 1.6;
    margin: 0;
}

/*12th SECTION*/
 .section-partenaires{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 2%;
    margin-right: 1%;
    padding-top: 70px;
    padding-left: 3%;
    background-color: #ffffff;
}

.section-partenaires .colonne-texte h2 {
    color: #1c2b4b;
    line-height: 1.3;
    margin-bottom: 25px;
    font: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 42px;
    line-height: 140%;
    letter-spacing: 0%;
}

.section-partenaires .colonne-texte p {
    color: #888888;
    font: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0%;
}

.logos-partenaires {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logos-partenaires img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

/* ==================================================== */
/* 3. STYLES SECTION AIDE                               */
/* ==================================================== */
.aide-boutons {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
    width: 100%;
    height: 95px;
    gap: 50px;
}

.btn-aide {
    display: flex;
    align-items: center;
    background-color: #eff6ff;
    color: #1c2b4b;
    text-decoration: none;
    transition: 0.3s;
    width: 306px;
    height: 95px;
    gap: 10px;
    border-radius: 10px;
    padding-left: 50px;
    font: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;
}

.btn-aide2 {
    display: flex;
    align-items: center;
    background-color: #eff6ff;
    color: #1c2b4b;
    text-decoration: none;
    transition: 0.3s;
    width: 306px;
    height: 95px;
    gap: 10px;
    border-radius: 10px;
    padding-left: 34px;
    font: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0%;
    text-align: center;
}

.btn-aide:hover {
    background-color: #dbeafe;
}
.btn-aide2:hover {
    background-color: #dbeafe;
}
.btn-aide img {
    width: 22px;
    height: 22px;
}

/* ==================================================== */
/* 4. ADAPTATION RESPONSIVE MOBILE                      */
/* ==================================================== */
@media (max-width: 900px) {
    .logos-partenaires {
        flex-direction: column;
        gap: 30px;
    }
    
    .logos-partenaires img {
        width: 60%;
    }
    
    .aide-boutons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .btn-aide {
        width: 100%;
        max-width: 350px;
        justify-content: center;
    }
}
